# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
* List popular languages for Data Science
* List commonly used Libraries for data Science
* Understanding the code block of jupyter Notebook

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Javascript</li>
</ol>

Some of the commonly used libraries used by Data Scientists include: 
<ol>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>matplotlib</li>
</ol>

|Data Science Tools|
| --- |
|R studio|
|Apache spark|
|google colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers (3*4)+5
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## AUTHOR
Aryan Vani